# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [33]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [34]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t", header=0)

In [35]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [36]:
#Limpiar simbolo del dolar y pasando a int
chipo["item_price"] = chipo["item_price"].str.replace('$', '', regex=False).astype(float)

In [37]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [38]:
'''chipo["unit_price"] = chipo["item_price"]/chipo["quantity"] #dividir columnas

most_valued = chipo["unit_price"].idxmax()
precio = chipo["unit_price"].max()

most_valued_product = chipo.loc[most_valued, 'item_name']
print(f"{most_valued_product} está en {most_valued} y vale {precio}")'''

'chipo["unit_price"] = chipo["item_price"]/chipo["quantity"] #dividir columnas\n\nmost_valued = chipo["unit_price"].idxmax()\nprecio = chipo["unit_price"].max()\n\nmost_valued_product = chipo.loc[most_valued, \'item_name\']\nprint(f"{most_valued_product} está en {most_valued} y vale {precio}")'

In [39]:
chipo["unit_price"] = chipo["item_price"]/chipo["quantity"] #dividir columnas

max_valued = chipo["unit_price"].max()

productos = chipo[chipo["item_price"] == max_valued]["item_name"]
print(productos.unique())

['Steak Salad Bowl' 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl']

### Step 4. How many products cost more than $10.00?

In [40]:
productos = chipo[chipo["unit_price"] > 10]["item_name"]
print(len(productos.unique()))

25

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [50]:
high_price_orders = chipo[chipo["item_price"] > 10]
high_price_orders["quantity"].sum()

np.int64(1314)

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [51]:
pedidos_mayores = chipo[chipo["item_price"] > 10]
pedidos_mayores["quantity"].sum()

np.int64(1314)

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [52]:
pedidos = chipo[chipo["item_price"] > 10]
pedidos["order_id"].nunique()

863

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [49]:
result = chipo[["item_name", "unit_price"]]
print(result)

              item_name  unit_price
3389  6 Pack Soft Drink        6.49
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [45]:
chipo.sort_values(by='item_name', ascending=True, inplace=True)
print(chipo)

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description  item_price  \
3389                                        [Diet Coke]       12.98
341                                         [Diet Coke]        6.49
1849                                             [Coke]        6.49
1860                                        [Diet Coke]        6.49
2713                                             [Coke]        6.49
...                                                 ...         ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

      unit_price
3389        6.49
341         6.49
1849        6.49
1860        6.49
2713        6.49
...          ...
2384        8.75
781         8.75
2851        8.49
1699       11.25
1395        8.49

[4622 rows x 6 columns]

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [46]:
veggie_salad_bowl = chipo[chipo["item_name"] == "Veggie Salad Bowl"]["quantity"].sum()
print(veggie_salad_bowl)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [47]:
canned_soda = chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] >=2)]
len(canned_soda)

20