# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [83]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [126]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")
print(chipo.head())
print(chipo.info())
print("="*20)
print(chipo.describe(include="all"))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None
====================
           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

In [127]:
###Limpieza
chipo = chipo.fillna("_")
chipo["item_price"] = chipo["item_price"].str.replace("$","")
chipo["item_price"] = chipo["item_price"].astype(float)
chipo.info()
print(chipo.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  4622 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                  _        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                  _        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

### Step 3. Name of the max valued product

In [245]:
chipo["unit_price"] = chipo["item_price"]/chipo["quantity"]
chipo.loc[chipo["unit_price"].idxmax()]

order_id                                                            123
quantity                                                              2
item_name                                              Steak Salad Bowl
choice_description    [Tomatillo Red Chili Salsa, [Black Beans, Chee...
item_price                                                        23.78
unit_price                                                        11.89
order_price                                                        13.7
Name: 281, dtype: object

### Step 4. How many products cost more than $10.00?

In [247]:
# print(chipo["unit_price"][chipo["unit_price"] > 10].count(),"productos")
print(len(chipo["item_name"][chipo["unit_price"] > 10].unique()),"productos")

25 productos

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [151]:
orders_count = chipo["order_id"][chipo["unit_price"] > 10].unique()
print(orders_count.size,"Pedidos")

787 Pedidos

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [199]:
orders_tot= chipo.groupby("order_id").sum()["item_price"]
print(len(orders_tot[orders_tot > 10]),"pedidos de más de 10$")
len(orders_tot[orders_tot > 10])

1834 pedidos de más de 10$

1834

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [ ]:
### TODO

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [267]:
item_prices = chipo.copy()
item_prices[["item_name","unit_price"]]
item_prices.groupby("item_name")["unit_price"].mean()

item_name
6 Pack Soft Drink                         6.490000
Barbacoa Bowl                            10.187273
Barbacoa Burrito                          9.832418
Barbacoa Crispy Tacos                    10.087273
Barbacoa Salad Bowl                      10.640000
Barbacoa Soft Tacos                      10.018400
Bottled Water                             1.431667
Bowl                                      7.400000
Burrito                                   7.400000
Canned Soda                               1.090000
Canned Soft Drink                         1.250000
Carnitas Bowl                            10.315588
Carnitas Burrito                          9.975932
Carnitas Crispy Tacos                     9.852857
Carnitas Salad                            8.990000
Carnitas Salad Bowl                      11.056667
Carnitas Soft Tacos                       9.398500
Chicken Bowl                              9.657727
Chicken Burrito                           9.475949
Chicken Crispy Tacos                      9.492340
Chicken Salad                             9.010000
Chicken Salad Bowl                        9.909091
Chicken Soft Tacos                        9.240261
Chips                                     2.149242
Chips and Fresh Tomato Salsa              2.748727
Chips and Guacamole                       4.345616
Chips and Mild Fresh Tomato Salsa         3.000000
Chips and Roasted Chili Corn Salsa        2.950000
Chips and Roasted Chili-Corn Salsa        2.390000
Chips and Tomatillo Green Chili Salsa     2.950000
Chips and Tomatillo Red Chili Salsa       2.950000
Chips and Tomatillo-Green Chili Salsa     2.390000
Chips and Tomatillo-Red Chili Salsa       2.390000
Crispy Tacos                              7.400000
Izze                                      3.390000
Nantucket Nectar                          3.390000
Salad                                     7.400000
Side of Chips                             1.690000
Steak Bowl                               10.232559
Steak Burrito                             9.993424
Steak Crispy Tacos                        9.952857
Steak Salad                               8.915000
Steak Salad Bowl                         11.027931
Steak Soft Tacos                          9.578182
Veggie Bowl                              10.011882
Veggie Burrito                            9.602842
Veggie Crispy Tacos                       8.490000
Veggie Salad                              8.490000
Veggie Salad Bowl                        10.138889
Veggie Soft Tacos                         9.352857
Name: unit_price, dtype: float64

### Step 6. Sort by the name of the item

In [266]:
chipo[["item_name","unit_price"]].sort_values(by = "item_name")

              item_name  unit_price
3389  6 Pack Soft Drink        6.49
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [ ]:
###TODO

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [228]:
veggies = chipo.copy()
veggies[veggies["item_name"]== "Veggie Salad Bowl"] = 1

In [230]:
veggies = chipo.copy()
veggies = veggies[veggies["item_name"]== "Veggie Salad Bowl"]
veggies[veggies["item_name"]== "Veggie Salad Bowl"] = 1
veggies ["item_name"] = veggies["item_name"].astype(int)
veggies ["item_total"] = veggies["item_name"]*veggies["quantity"]
print(veggies["item_total"].sum(), "veces se ha pedido la Veggie Salad Bowl")

18 veces se ha pedido la Veggie Salad Bowl

### Step 9. How many times did someone order more than one Canned Soda?

In [238]:
canned = chipo.copy()
print(len(canned[(canned["item_name"] == "Canned Soda") & (canned["quantity"] > 1)]),"veces")

20 veces