# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [3]:
import numpy as np 
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv("chipotle.csv", sep = "\t" )
display(chipo)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [11]:
chipo.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

### Step 3. Name of the max valued product

In [6]:
chipo["item_price"] = chipo["item_price"].str.replace("$", "").astype(float)

In [7]:
display(chipo)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [12]:
chipo["unit_price"] = (chipo["item_price"]) / (chipo["quantity"])

In [17]:
chipo["unit_price"].max()
chipo[chipo["unit_price"] == chipo["unit_price"].max()]["item_name"].unique()

array(['Steak Salad Bowl', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl'],
      dtype=object)

### Step 4. How many products cost more than $10.00?

In [20]:
chipo_products_10 = chipo[chipo["unit_price"] > 10]
chipo_products_10

,order_id,quantity,item_name,choice_description,item_price,unit_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25

In [23]:
chipo_products_10["item_name"].unique()

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl', 'Chicken Salad',
       'Steak Salad Bowl', 'Chicken Crispy Tacos', 'Veggie Soft Tacos',
       'Barbacoa Soft Tacos', 'Carnitas Crispy Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Steak Soft Tacos',
       'Carnitas Soft Tacos', 'Steak Crispy Tacos'], dtype=object)

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [32]:
chipo_products_10["order_id"].nunique()

787

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [41]:
orders_sum = chipo.groupby("order_id")["item_price"].sum()

In [45]:
len(orders_sum[orders_sum > 10])

1834

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [49]:
chipo[chipo["item_price"] > 10]["order_id"].nunique()

863

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [56]:
chipo.loc[:,["item_name", "unit_price"]].drop_duplicates()

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
3989                          Chicken Salad        8.19
4235                           Chicken Bowl        8.50
4237                    Chips and Guacamole        4.25
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[139 rows x 2 columns]

### Step 6. Sort by the name of the item

In [64]:
chipo.sort_values(by='item_name',
               ascending=True)["item_name"].drop_duplicates()

3389                        6 Pack Soft Drink
418                             Barbacoa Bowl
1202                         Barbacoa Burrito
1019                    Barbacoa Crispy Tacos
3546                      Barbacoa Salad Bowl
3548                      Barbacoa Soft Tacos
2441                            Bottled Water
673                                      Bowl
760                                   Burrito
1142                              Canned Soda
964                         Canned Soft Drink
1359                            Carnitas Bowl
1097                         Carnitas Burrito
554                     Carnitas Crispy Tacos
3750                           Carnitas Salad
2610                      Carnitas Salad Bowl
2299                      Carnitas Soft Tacos
4555                             Chicken Bowl
2026                          Chicken Burrito
1027                     Chicken Crispy Tacos
2968                            Chicken Salad
3117                       Chicken Salad Bowl
1496                       Chicken Soft Tacos
2193                                    Chips
3506             Chips and Fresh Tomato Salsa
311                       Chips and Guacamole
674         Chips and Mild Fresh Tomato Salsa
2602       Chips and Roasted Chili Corn Salsa
1458       Chips and Roasted Chili-Corn Salsa
1593    Chips and Tomatillo Green Chili Salsa
1999      Chips and Tomatillo Red Chili Salsa
3657    Chips and Tomatillo-Green Chili Salsa
2972      Chips and Tomatillo-Red Chili Salsa
521                              Crispy Tacos
1213                                     Izze
2379                         Nantucket Nectar
1414                                    Salad
1120                            Side of Chips
3190                               Steak Bowl
4546                            Steak Burrito
3503                       Steak Crispy Tacos
752                               Steak Salad
4391                         Steak Salad Bowl
4549                         Steak Soft Tacos
2326                              Veggie Bowl
1959                           Veggie Burrito
1653                      Veggie Crispy Tacos
3471                             Veggie Salad
4201                        Veggie Salad Bowl
738                         Veggie Soft Tacos
Name: item_name, dtype: object

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [69]:
chipo[chipo["unit_price"] == chipo["unit_price"].max()]["quantity"].sum()

np.int64(30)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [88]:
chipo[chipo["item_name"] == "Veggie Salad Bowl"].groupby(["item_name", "unit_price"])["quantity"].sum().sum()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [104]:
pedidos_soda = chipo[(chipo["item_name"] == "Canned Soda")].groupby("order_id")["quantity"].sum()
pedidos_soda

order_id
9       2
14      1
23      2
24      1
47      1
       ..
1562    1
1575    1
1578    1
1604    1
1621    1
Name: quantity, Length: 94, dtype: int64

In [101]:
len(pedidos_soda[pedidos_soda > 1])

24